<div class="p-col-12 footer">
  <div class="p-col-4 footer-left">
    <label><b>Release Date: </b>{{versionDate}}</label><br>
  </div>
  <div class="p-col-4 footer-center">
    <label class="version">TopCATI Web v{{version}}</label><br>
    <label>Powered By Angular</label>
  </div>
  <!-- <div class="p-col-4 footer-right">
    <span>
        <i class="fa fa-envelope"></i>
    </span>
    <pre style="display: inline-block;"><b> Support: {{ supportEmail }} </b></pre>
  </div> -->
</div>
